@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./components/buttons";
@import "./components/cards";
@import "./layout/header";
@import "./layout/footer";

h1, h1+p{
    @extend %block-padding;
}

#filtres{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    @extend %block-padding;

    .filter-navigation{
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
    .filter-item{
        display: inline-flex;
        border: 1px solid lighten($primary-color, 50%);
        border-radius: 30px;
        height: 50px;
        align-items: center;
        font-weight: bold;

        &:hover{
            background-color: lighten($primary-color, 50%);
        }
        
        .filter-item-icon{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: lighten($primary-color, 50%);
            margin-left: -2px;
        }
        p{
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

#libraries-archive{
    @extend %block-padding;
}

.libraries-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px 0px 30px 0px;

    .libraries-item{
        width: 30%;
        padding: 5px;
        margin: 15px;
        border: 1px solid $secondary-color;
        border-radius: 30px;
        background-color: lighten($secondary-color, 50%);
        color: $text-color;

        img{
            height: 200px;
            width: 100%;
            object-fit: cover;
            border-radius: 30px 30px 0px 0px;
        }

        footer{
            margin-top: 30px;
            margin-bottom: 30px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 5px;

        }
    }
}