@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap");
#libraries-archive, #filtres, h1, h1 + p, .site-footer, .site-header .site-header-content {
  padding-left: 30px;
  padding-right: 30px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  margin: 0px;
}

#site-container {
  max-width: none !important;
  margin: auto;
}

.link {
  color: rgb(165, 20, 165);
  text-decoration: none;
}

h3 {
  margin-block-start: 5px;
  margin-block-end: 5px;
}

p {
  margin-block-start: 0px;
  margin-block-end: 5px;
}

.site-header {
  background-color: #fdeefd;
}
.site-header .site-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}
.site-header .site-header-content #site-name {
  font-size: 32px;
  font-style: italic;
  font-weight: 900;
  color: rgb(194, 176, 18);
}
.site-header .main-navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
}
.site-header .main-navigation a {
  display: flex;
  align-items: center;
  height: 75px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.site-header .main-navigation li a:hover {
  border-bottom: 2px solid rgb(165, 20, 165);
}
.site-header .main-navigation li a:active {
  border-bottom: 2px solid rgb(165, 20, 165);
}

.site-footer {
  width: 100%;
  background-color: rgb(194, 176, 18);
}
.site-footer-content {
  display: flex;
}
.site-footer-content .footer-column {
  list-style: none;
  flex-grow: 1;
}
.site-footer-content .footer-column p {
  font-weight: bold;
}
.site-footer-content .footer-column ul {
  list-style: none;
}
.site-footer-content .footer-column ul a {
  color: #000;
}

#filtres {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
#filtres .filter-navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
#filtres .filter-item {
  display: inline-flex;
  border: 1px solid #f7c1f7;
  border-radius: 30px;
  height: 50px;
  align-items: center;
  font-weight: bold;
}
#filtres .filter-item:hover {
  background-color: #f7c1f7;
}
#filtres .filter-item .filter-item-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7c1f7;
  margin-left: -2px;
}
#filtres .filter-item p {
  padding-left: 15px;
  padding-right: 15px;
}

.libraries-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px 0px 30px 0px;
}
.libraries-content .libraries-item {
  width: 30%;
  padding: 5px;
  margin: 15px;
  border: 1px solid rgb(194, 176, 18);
  border-radius: 30px;
  background-color: #fbf8d8;
  color: #000;
}
.libraries-content .libraries-item img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0px 0px;
}
.libraries-content .libraries-item footer {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}

/*# sourceMappingURL=main.css.map */
