.site-footer{
    width: 100%;
    background-color: $secondary-color;
    @extend %block-padding;

    &-content{
        display: flex;

        .footer-column{
            list-style: none;
            flex-grow: 1;
            p{
                font-weight: bold;
            }
            ul{
                list-style: none;
            
                a{
                    color: $text-color;
                }
            }
        }
    }
}