.site-header{
    background-color: lighten($primary-color, 60%);;

    .site-header-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 75px;
        @extend %block-padding;

        #site-name{
            font-size: 32px;
            font-style: italic;
            font-weight: 900;
            color: $secondary-color;
        }
    }

    .main-navigation{

        ul{
            display: flex;
            list-style: none;
            margin: 0;
        }

        a{
            display: flex;
            align-items: center;
            height: 75px;
            padding-left: 15px;
            padding-right: 15px;
            text-transform: uppercase;
            font-weight: bold;
        }

        li a:hover{
            border-bottom: 2px solid $primary-color;
        }

        li a:active{
            border-bottom: 2px solid $primary-color;
        }
    } 
    
}

