@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    margin: 0px;
}

#site-container{
    max-width: none !important;
    margin: auto;
}

.link{
    color: $link-color;
    text-decoration: none;
}

h3{
    margin-block-start: 5px;
    margin-block-end: 5px;
}

p{
    margin-block-start: 0px;
    margin-block-end: 5px;
}
